APP_ENV=production
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DB_NAME=controlactivos
DB_USER=controlactivos_app
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=60
STATIC_ROOT=/var/www/controlactivosti/static
MEDIA_ROOT=/var/www/controlactivosti/media
PRIVATE_MEDIA_ROOT=/var/www/controlactivosti/private
LOG_DIR=/var/log/controlactivosti
FACTURAS_PDF_MAX_SIZE=15728640
FACTURAS_PDF_MAX_PAGES=300
ENABLE_HTTPS=False
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_PRELOAD=False
