asgiref==3.11.1
Django==6.0.3
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.1.1
psycopg[binary]==3.3.3
pypdf==5.9.0
python-docx==1.2.0
python-decouple==3.8
sqlparse==0.5.5
tzdata==2025.3
gunicorn==23.0.0
